# Python virtual environment
sudokuNet/
my-venv/

# Byte-compiled files
__pycache__/
*.py[cod]

# Logs
*.log

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# TensorBoard runs
runs/

# PyTorch model files
#*.pth

# Data files
#data/*.csv

# Azure ML files
*.yml
*.json

# IDE specific files
.vscode/
.idea/
*.swp
